In [ ]:
import numpy as np

scores = np.random.randint(50, 101,size=(50, 5))
scores

array([[ 57,  60,  77, 100,  92],
       [ 63,  51,  83,  89,  59],
       [ 72,  93,  56,  92,  80],
       [ 55,  82,  91,  59,  86],
       [ 60,  53,  87,  73,  78],
       [ 68,  58,  83,  55,  90],
       [ 93,  90,  90,  67,  78],
       [ 93,  59,  55,  59,  91],
       [ 56,  92,  83,  59,  62],
       [ 65,  54,  70,  91,  73],
       [ 93,  95,  84,  58,  66],
       [ 50,  60,  53,  74,  88],
       [ 54,  69,  78,  86,  78],
       [ 79,  80,  95,  70,  80],
       [ 77,  91,  51,  95,  73],
       [ 78,  80,  81,  62,  77],
       [ 91,  55,  65,  88,  93],
       [ 73,  95, 100,  82,  79],
       [ 70,  53,  96,  66,  90],
       [ 98,  97,  79,  64,  64],
       [ 57,  61,  82,  78,  77],
       [ 99,  55,  85,  52,  94],
       [ 65,  65,  84,  74,  54],
       [ 91,  91,  77,  58,  80],
       [ 88,  90,  52,  54,  95],
       [ 66,  65,  86,  52,  59],
       [ 70,  93,  72,  83,  61],
       [ 59,  90,  60,  77,  50],
       [ 52,  96,  60,  80,  51],
       [ 98,  76,  63,  95,  72],
       [ 50,  78,  95, 100,  79],
       [ 79,  83,  53,  78,  71],
       [ 78,  84,  60,  91,  59],
       [ 59,  75,  82,  73,  99],
       [ 54, 100,  88,  60,  59],
       [ 69,  60,  87,  84,  67],
       [ 81,  86,  59,  84,  96],
       [ 63,  67,  78,  50,  83],
       [ 84,  54,  87,  69,  73],
       [ 57,  80,  89,  69, 100],
       [ 91,  95,  52,  56,  51],
       [ 67,  67,  58,  60,  70],
       [ 62,  51,  51,  75,  97],
       [ 95,  86,  55,  72,  74],
       [ 50,  66,  93,  51,  98],
       [ 64,  57,  90,  94,  62],
       [ 77,  94,  70,  54,  98],
       [ 92,  86,  85,  64,  79],
       [ 54,  90,  79,  64,  90],
       [ 76,  95,  88,  76,  72]], dtype=int32)

In [ ]:
import pandas as pd

df = pd.DataFrame(scores,
            index = [f"學生{i+1}" for i in range(50)],
            columns = ["國文","英文","數學","地理","歷史"]
)
df

      國文   英文   數學   地理   歷史
學生1   57   60   77  100   92
學生2   63   51   83   89   59
學生3   72   93   56   92   80
學生4   55   82   91   59   86
學生5   60   53   87   73   78
學生6   68   58   83   55   90
學生7   93   90   90   67   78
學生8   93   59   55   59   91
學生9   56   92   83   59   62
學生10  65   54   70   91   73
學生11  93   95   84   58   66
學生12  50   60   53   74   88
學生13  54   69   78   86   78
學生14  79   80   95   70   80
學生15  77   91   51   95   73
學生16  78   80   81   62   77
學生17  91   55   65   88   93
學生18  73   95  100   82   79
學生19  70   53   96   66   90
學生20  98   97   79   64   64
學生21  57   61   82   78   77
學生22  99   55   85   52   94
學生23  65   65   84   74   54
學生24  91   91   77   58   80
學生25  88   90   52   54   95
學生26  66   65   86   52   59
學生27  70   93   72   83   61
學生28  59   90   60   77   50
學生29  52   96   60   80   51
學生30  98   76   63   95   72
學生31  50   78   95  100   79
學生32  79   83   53   78   71
學生33  78   84   60   91   59
學生34  59   75   82   73   99
學生35  54  100   88   60   59
學生36  69   60   87   84   67
學生37  81   86   59   84   96
學生38  63   67   78   50   83
學生39  84   54   87   69   73
學生40  57   80   89   69  100
學生41  91   95   52   56   51
學生42  67   67   58   60   70
學生43  62   51   51   75   97
學生44  95   86   55   72   74
學生45  50   66   93   51   98
學生46  64   57   90   94   62
學生47  77   94   70   54   98
學生48  92   86   85   64   79
學生49  54   90   79   64   90
學生50  76   95   88   76   72

In [ ]:
#透過欄的選取

df["國文"]
df["英文"]
df[["國文","英文"]]

      國文   英文
學生1   57   60
學生2   63   51
學生3   72   93
學生4   55   82
學生5   60   53
學生6   68   58
學生7   93   90
學生8   93   59
學生9   56   92
學生10  65   54
學生11  93   95
學生12  50   60
學生13  54   69
學生14  79   80
學生15  77   91
學生16  78   80
學生17  91   55
學生18  73   95
學生19  70   53
學生20  98   97
學生21  57   61
學生22  99   55
學生23  65   65
學生24  91   91
學生25  88   90
學生26  66   65
學生27  70   93
學生28  59   90
學生29  52   96
學生30  98   76
學生31  50   78
學生32  79   83
學生33  78   84
學生34  59   75
學生35  54  100
學生36  69   60
學生37  81   86
學生38  63   67
學生39  84   54
學生40  57   80
學生41  91   95
學生42  67   67
學生43  62   51
學生44  95   86
學生45  50   66
學生46  64   57
學生47  77   94
學生48  92   86
學生49  54   90
學生50  76   95

In [ ]:
#透過index的名稱選取
df.loc["學生1"]
df.loc[["學生1","學生2"]]

     國文  英文  數學   地理  歷史
學生1  57  60  77  100  92
學生2  63  51  83   89  59

In [ ]:
#透過index的索引值選取
df.iloc[0]
df.iloc[[0,1]]

     國文  英文  數學   地理  歷史
學生1  57  60  77  100  92
學生2  63  51  83   89  59

In [ ]:
df.iloc[:5]
df.iloc[-5:]

      國文  英文  數學  地理  歷史
學生46  64  57  90  94  62
學生47  77  94  70  54  98
學生48  92  86  85  64  79
學生49  54  90  79  64  90
學生50  76  95  88  76  72

In [ ]:
df

In [ ]:
import numpy as np
total = np.sum(df,axis=1)
mean = np.mean(df,axis=1)

In [ ]:
df["總分"] = total
df["平均"] = mean

In [14]:
df

      國文   英文   數學   地理   歷史   總分    平均
學生1   57   60   77  100   92  386  77.2
學生2   63   51   83   89   59  345  69.0
學生3   72   93   56   92   80  393  78.6
學生4   55   82   91   59   86  373  74.6
學生5   60   53   87   73   78  351  70.2
學生6   68   58   83   55   90  354  70.8
學生7   93   90   90   67   78  418  83.6
學生8   93   59   55   59   91  357  71.4
學生9   56   92   83   59   62  352  70.4
學生10  65   54   70   91   73  353  70.6
學生11  93   95   84   58   66  396  79.2
學生12  50   60   53   74   88  325  65.0
學生13  54   69   78   86   78  365  73.0
學生14  79   80   95   70   80  404  80.8
學生15  77   91   51   95   73  387  77.4
學生16  78   80   81   62   77  378  75.6
學生17  91   55   65   88   93  392  78.4
學生18  73   95  100   82   79  429  85.8
學生19  70   53   96   66   90  375  75.0
學生20  98   97   79   64   64  402  80.4
學生21  57   61   82   78   77  355  71.0
學生22  99   55   85   52   94  385  77.0
學生23  65   65   84   74   54  342  68.4
學生24  91   91   77   58   80  397  79.4
學生25  88   90   52   54   95  379  75.8
學生26  66   65   86   52   59  328  65.6
學生27  70   93   72   83   61  379  75.8
學生28  59   90   60   77   50  336  67.2
學生29  52   96   60   80   51  339  67.8
學生30  98   76   63   95   72  404  80.8
學生31  50   78   95  100   79  402  80.4
學生32  79   83   53   78   71  364  72.8
學生33  78   84   60   91   59  372  74.4
學生34  59   75   82   73   99  388  77.6
學生35  54  100   88   60   59  361  72.2
學生36  69   60   87   84   67  367  73.4
學生37  81   86   59   84   96  406  81.2
學生38  63   67   78   50   83  341  68.2
學生39  84   54   87   69   73  367  73.4
學生40  57   80   89   69  100  395  79.0
學生41  91   95   52   56   51  345  69.0
學生42  67   67   58   60   70  322  64.4
學生43  62   51   51   75   97  336  67.2
學生44  95   86   55   72   74  382  76.4
學生45  50   66   93   51   98  358  71.6
學生46  64   57   90   94   62  367  73.4
學生47  77   94   70   54   98  393  78.6
學生48  92   86   85   64   79  406  81.2
學生49  54   90   79   64   90  377  75.4
學生50  76   95   88   76   72  407  81.4

In [15]:
import numpy as np
total = np.sum(df,axis=1)
mean = np.mean(df,axis=1)

In [16]:
df["總分"] = total
df["平均"] = mean

In [17]:
df

      國文   英文   數學   地理   歷史     總分          平均
學生1   57   60   77  100   92  849.2  121.314286
學生2   63   51   83   89   59  759.0  108.428571
學生3   72   93   56   92   80  864.6  123.514286
學生4   55   82   91   59   86  820.6  117.228571
學生5   60   53   87   73   78  772.2  110.314286
學生6   68   58   83   55   90  778.8  111.257143
學生7   93   90   90   67   78  919.6  131.371429
學生8   93   59   55   59   91  785.4  112.200000
學生9   56   92   83   59   62  774.4  110.628571
學生10  65   54   70   91   73  776.6  110.942857
學生11  93   95   84   58   66  871.2  124.457143
學生12  50   60   53   74   88  715.0  102.142857
學生13  54   69   78   86   78  803.0  114.714286
學生14  79   80   95   70   80  888.8  126.971429
學生15  77   91   51   95   73  851.4  121.628571
學生16  78   80   81   62   77  831.6  118.800000
學生17  91   55   65   88   93  862.4  123.200000
學生18  73   95  100   82   79  943.8  134.828571
學生19  70   53   96   66   90  825.0  117.857143
學生20  98   97   79   64   64  884.4  126.342857
學生21  57   61   82   78   77  781.0  111.571429
學生22  99   55   85   52   94  847.0  121.000000
學生23  65   65   84   74   54  752.4  107.485714
學生24  91   91   77   58   80  873.4  124.771429
學生25  88   90   52   54   95  833.8  119.114286
學生26  66   65   86   52   59  721.6  103.085714
學生27  70   93   72   83   61  833.8  119.114286
學生28  59   90   60   77   50  739.2  105.600000
學生29  52   96   60   80   51  745.8  106.542857
學生30  98   76   63   95   72  888.8  126.971429
學生31  50   78   95  100   79  884.4  126.342857
學生32  79   83   53   78   71  800.8  114.400000
學生33  78   84   60   91   59  818.4  116.914286
學生34  59   75   82   73   99  853.6  121.942857
學生35  54  100   88   60   59  794.2  113.457143
學生36  69   60   87   84   67  807.4  115.342857
學生37  81   86   59   84   96  893.2  127.600000
學生38  63   67   78   50   83  750.2  107.171429
學生39  84   54   87   69   73  807.4  115.342857
學生40  57   80   89   69  100  869.0  124.142857
學生41  91   95   52   56   51  759.0  108.428571
學生42  67   67   58   60   70  708.4  101.200000
學生43  62   51   51   75   97  739.2  105.600000
學生44  95   86   55   72   74  840.4  120.057143
學生45  50   66   93   51   98  787.6  112.514286
學生46  64   57   90   94   62  807.4  115.342857
學生47  77   94   70   54   98  864.6  123.514286
學生48  92   86   85   64   79  893.2  127.600000
學生49  54   90   79   64   90  829.4  118.485714
學生50  76   95   88   76   72  895.4  127.914286